<h3 class="title"><%= l(:permission_add_issue_approvers) %></h3>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#new-approver-form input[type=checkbox]').each(approve_user)
    $('#new-approver-form input[type=checkbox]').click(approve_user)
  })
</script>

<%= form_tag({:controller => 'approvers',
              :action => (approved ? 'create' : 'append'),
              :object_type => (approved && approved.class.name.underscore),
              :object_id => approved,
              :project_id => @project},
             :remote => true,
             :method => :post,
             :id => 'new-approver-form') do %>

  <p><%= content_tag 'h4', l(:label_issue_approvers) %></p>
  <ol id="users_added">
    <%= approvers_checkboxes approved, approved.approver_users, nil, 'approver[user_ids][]' if approved %>
  </ol>

  <p><%= label_tag 'user_search', l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>
  <%= javascript_tag "observeSearchfield('user_search', 'users_for_approver', '#{ escape_javascript url_for(:controller => 'approvers',
                 :action => 'autocomplete_for_user',
                 :object_type => (approved && approved.class.name.underscore),
                 :object_id => approved,
                 :project_id => @project) }')" %>

  <div id="users_for_approver">
    <%= principals_check_box_tags('approver[user_ids][]', users) %>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
